<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="facebook-domain-verification" content="3zq0tay5inat6k30h3czbsrcuyjkii" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div>test</div>
{% block body %}{% endblock %}
</body>
</html>
